/* ! -----------------------HOME.HTML CSS----------------------- */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.header{
    position: relative;
    width: 100%;
}

/* nav bar css starts */
.navbar{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    top: 5%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0px;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

.nav_lists{
    width: fit-content;
    display: flex;
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.login{
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    border: none;
    border-radius: 15px;
    padding: 8px 10px;
}

a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 15px; 
    display: inline-block;
}

.nav:hover{
    transform: scale(1.2);
    color: blue;
}

.dropdown-content{
    /* display: none; */
    position: absolute;
    /* background-color: #f1f1f1; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity .5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

}

.dropdown-content a{
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content{
    opacity: 1;
    height: auto;
}

/* search section starts*/
.box{
    height: 50px;
  }
  
  .container-2{
    vertical-align: middle;
    white-space:nowrap;
    position:relative;
  }

  .container-2 input#search{
    width: 50px;
    height: 50px;
    border:none;
    font-size: 12pt;
    float: left;
    padding-left: 45px;
    border-radius: 15px;
    color: #fff;
    background: transparent;
    transition: width .55s ease;
  }
  
  .container-2 input#search::-webkit-input-placeholder {
     color: #fff;
  }
   
  .container-2 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
   
  .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
   
  .container-2 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-2 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    color: #fff;
  }
  
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
  }
  
  .container-2:hover input#search{
    width: 300px;
  }
  /* search section ends */


  /* toogle menu section starts */
  .menubar{
    color: blue;
    font-size: 20px;
    display: none;
    background: transparent;
    align-items: center;
    cursor: pointer;
}

.toogle-menu{
    display: none;
    position: absolute;
    list-style: none;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: black;
    padding-top: 30px;
    padding: 25px;
}

.closebar{
    position: absolute;
    color: #fff;
    font-size: 25px;
    float: right;
    margin: 10px;
    top: 5px;
    right: 5px;
}

.closebar:hover{
    color: red;
    transform: scale(1.3);
}

.toogle{
    font-size: 20px;
    display: block;
    padding: 10px;
    color: white;
}

.toogle:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: blue;
}
  /* toogle menu section ends */
  
/* navbar css ends */


/* linked icon section starts */
.linked-icons{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

.bikes-linked-icon, .scooters-linked-icon, .gallery-linked-icon{
    margin: 0% 3%;
    position: relative;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 100px;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.bikes-linked-icon:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.scooters-linked-icon:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.gallery-linked-icon:hover{
    transform: scale(0.9);
    cursor: pointer;
}
/* linked icon sections ends */


/* feature product section starts */
.featured-section-tittle{
    position: relative;
    width: 100%;
    color: blue;
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
    margin-top: 7%;
}

.featured-product-list{
    position: relative;
    display: flex;
    margin: 25px;
    justify-content: center;
    align-items: center;
}

.fz-x, .fzv3, .aexor-155, .r15m{
    position: relative;
    width: 230px;
    height: 230px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

.text{
    color: blue;
    display: none;
}

.fz-x:hover, .fzv3:hover, .aexor-155:hover, .r15m:hover{
    transform: scale(1.3);
    transition: 0.2s;
    cursor: pointer;  
}

.products-name{
    font-size: 15px;
    font-weight: bold;
}
/* featured product section ends */


/* footer section css */
.footer{
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 0;
}

.footer h1{
    color: #ed1c24;
    font-size: 27px;
    font-weight: bold;
    padding: 5px 0;
}

.footer h4{
    color: white;
    font-size: 18px;
    padding: 2px 0;
    text-align: center;
}

.contact a{ 
    text-decoration: none;
    color: #dfe8f7;
}

.contact a:hover{
    color: red;
}

.social p a{
    color: white;
    font-size: 18px;
    text-decoration: none;   
    text-align: center; 
}

.social p a:hover{
    color: green;
}

.icons{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.icons li{
    float: left;
    width: 40px;
    height: 40px;
    font-size: 21px;
    border: black 1px solid;
    border-radius: 50%;
    margin: 0 8px;
}

.icons i{
    padding-top: 8px;
    color: white;
}

.facebook{
    background-color: #3b5998;
}

.instagram{
    background-color: #C13584;
}

.youtube{
    background-color: #ed1c24;
}

.twitter{
    background-color: #2daae1;
}

.copy{
    color: #dfe8f7;
}

.copy span a{
    color: #ed1c24;
    font-weight: bold;
}
/* footer section ends */

@media screen and (max-width: 1200px) {
    .nav_lists{
        display: none;
    }

    .login{
        display: none;
    }

    .menubar{
        display: block;
        }
    }

    @media screen and (max-width: 1070px) {
        .r15m{
            display: none;
        }
    }

    @media screen and (max-width: 810px) {
        .fzv3{
            display: none;
        }
    }

    @media screen and (max-width: 570px) {
        .fz-x{
            display: none;
        }
    }

    @media screen and (max-width: 1000px) {
        .after-1000px{
            display: none;
        }

        .read-more{
            display: block;
        }
    }

    @media screen and (max-width: 1300px) {
        .intro-container{
            display: block;
            margin: 0px 20px;
        }

        .intro-side-image{
            display: none;
        }

        .racing{
            display: block;
        }

        .intro{
            width: 100%;
        }
    }
